django-notifications-hq~=1.8.3
channels~=4.1.0
openwisp-users @ https://github.com/openwisp/openwisp-users/tarball/master
openwisp-utils[rest,celery] @ https://github.com/openwisp/openwisp-utils/tarball/master
markdown~=3.6.0
