.ow-icon {
  width: 16px;
  height: 16px;
  background: #fff;
  -webkit-mask-size: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-size: 16px;
  mask-repeat: no-repeat;
  margin-right: 2px;
}
.object-tools {
  display: flex;
}
.ow-object-notify {
  display: flex;
  align-items: center;
}

/* Object Notification */

.ow-object-notify:active,
.ow-object-notify:focus {
  outline: 0 none;
}
#ow-unsubscribe-label {
  line-height: 20px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.ow-object-notification-option-container {
  width: 200px;
  margin-top: 5px;
}
#ow-notification-help-text {
  padding: 10px 10px;
  margin: 0;
  color: #828282;
  background: rgba(255, 255, 255, 0.5);
}
#ow-object-notification-loader .loader {
  height: 3em;
  width: 3em;
  margin: 10px auto;
}

/* Icons */
.ow-object-notify-bell {
  mask-image: url('/static/openwisp-notifications/images/icons/icon-bell.svg');
  -webkit-mask-image: url('/static/openwisp-notifications/images/icons/icon-bell.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  bottom: -2px;
}
.ow-object-notify-slash-bell {
  mask-image: url('/static/openwisp-notifications/images/icons/icon-bell-slash.svg');
  -webkit-mask-image: url('/static/openwisp-notifications/images/icons/icon-bell-slash.svg');
}

@media screen and (max-width: 768px) {
  .object-tools {
    justify-content: space-between;
    overflow: visible !important;
  }
  .ow-object-notify {
    margin: auto auto auto 0px;
  }
}
