.ow-icon {
  width: 16px;
  height: 16px;
  background: #fff;
  -webkit-mask-size: 16px;
  -webkit-mask-repeat: no-repeat;
  mask-size: 16px;
  mask-repeat: no-repeat;
  margin-right: 2px;
}
.object-tools {
  display: flex;
}
.ow-object-notify {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

/* Object Notification */

.ow-object-notify:active,
.ow-object-notify:focus {
  outline: 0 none;
}
#ow-unsubscribe-label {
  line-height: 20px;
  font-size: 11px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.ow-object-notification-option-container {
  background-color: #ffffff;
  position: absolute;
  z-index: 9999;
  width: 200px;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px #00000040;
}
.ow-notification-option {
  cursor: pointer;
  width: 100%;
  border: none;
}
.ow-notification-option:hover,
.ow-notification-option:focus,
.ow-notification-option:active {
  background-color: #515151;
  color: #fff;
  outline: 0 none;
}
.ow-object-notification-option-container p,
.ow-notification-option {
  margin: auto;
  font-size: 12px;
  padding: 8px 0;
  font-weight: normal;
}
#ow-notification-help-text {
  padding: 10px 10px;
  color: #828282;
}
#ow-object-notification-loader .loader {
  height: 3em;
  width: 3em;
  margin: 10px auto;
}

/* Icons */
.ow-object-notify-bell {
  mask-image: url('/static/openwisp-notifications/images/icons/icon-bell.svg');
  -webkit-mask-image: url('/static/openwisp-notifications/images/icons/icon-bell.svg');
}
.ow-object-notify-slash-bell {
  mask-image: url('/static/openwisp-notifications/images/icons/icon-bell-slash.svg');
  -webkit-mask-image: url('/static/openwisp-notifications/images/icons/icon-bell-slash.svg');
}

@media screen and (max-width: 768px) {
  .object-tools {
    justify-content: space-between;
    overflow: visible !important;
  }
  .ow-object-notify {
    margin: auto auto auto 0px;
  }
}
