.ow-icon {
  width: 24px;
  background-position: center;
  height: 24px;
  background-size: 18px;
  filter: invert(1);
  background-repeat: no-repeat;
}
.object-tools {
  display: flex;
}

/* Object Notification */
.ow-object-notify {
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  padding: 3px 15px;
  background: #df5d43;
  font-weight: 700;
}
.ow-object-notify:active,
.ow-object-notify:focus{
  outline: 0 none;
}
#ow-unsubscribe-label {
  line-height: 20px;
  font-size: 11px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.ow-object-notification-option-container {
  background-color: #ffffff;
  position: absolute;
  z-index: 9999;
  width: 200px;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #dadce0;
}
.ow-notification-option {
  cursor: pointer;
  width: 100%;
  border: none;
}
.ow-notification-option:hover,
.ow-notification-option:focus,
.ow-notification-option:active {
  background-color: #515151;
  color: #fff;
  outline: 0 none;
}
.ow-object-notification-option-container p,
.ow-notification-option {
  margin: auto;
  font-size: 12px;
  padding: 8px 0;
  font-weight: normal;
}
#ow-notification-help-text {
  padding: 10px 10px;
  color: #828282;
}
#ow-object-notification-loader .loader {
  height: 3em;
  width: 3em;
  margin: 10px auto;
}

/* Icons */
.ow-object-notify-bell {
  background-image: url('/static/openwisp-notifications/images/icons/icon-bell.svg');
}
.ow-object-notify-slash-bell {
  background-image: url('/static/openwisp-notifications/images/icons/icon-bell-slash.svg');
}

@media screen and (max-width: 768px){
  .object-tools {
    justify-content: space-between;
    overflow: visible !important;
  }
  .ow-object-notify {
    margin: auto auto auto 0px;
  }
}
