.global-settings {
  margin: 10px 0 20px;
  display: none;
}
.global-settings-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.global-settings-container {
  margin-left: 20px;
}
.module h2 {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.org-content {
  margin-top: 0;
  padding-top: 0;
  display: none;
}
.org-content.active {
  display: block;
}
table {
  width: 100%;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #ddd;
}
th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}
.no-settings,
.no-organizations {
  padding: 10px;
  text-align: center;
  color: #666;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
  cursor: pointer;
}
.toast .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #007bff;
  width: 100%;
  transition: width 3s linear;
}
span.toggle-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(/static/admin/img/sorting-icons.svg) 0 0 no-repeat;
  background-size: 20px auto;
  transition: background-position 0.3s ease;
}
span.toggle-icon.collapsed {
  background-position: 0px -84px;
}
span.toggle-icon.expanded {
  background-position: 0px -64px;
}
.tooltip-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: var(--body-quiet-color);
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  border: 1px solid var(--body-quiet-color);
  text-transform: none;
  cursor: default;
}
.tooltip-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 10px;
  white-space: nowrap;
  visibility: hidden;
}
.tooltip-icon:hover::after {
  visibility: visible;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 5px 2px #2196f3;
  outline: none;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
.module {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
