.global-settings {
  margin: 10px 0 20px;
}
.org-header {
  background-color: #e0e0e0;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.org-content {
  padding-top: 10px;
  display: none;
}
.org-content.active {
  display: block;
}
table {
  width: 100%;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #ddd;
}
th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}
.no-settings {
  padding: 10px;
  text-align: center;
  color: #666;
}
