.global-settings {
    margin: 10px 0 20px;
}
.module h2 {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.org-content {
  padding-top: 10px;
  display: none;
}
.org-content.active {
  display: block;
}
table {
  width: 100%;
}
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #ddd;
}
th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}
.no-settings, .no-organizations {
  padding: 10px;
  text-align: center;
  color: #666;
}
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
    cursor: pointer;
}
.toast .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #007bff;
    width: 100%;
    transition: width 3s linear;
}
