body,
html {
  height: 100%;
  margin: 0;
  background-color: #f0f4f8;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.content {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}
.icon {
  font-size: 56px;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
}
p {
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}
button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  opacity: 0.7;
  border-color: #333;
}
.footer {
  margin-top: 20px;
}
#confirmation-msg {
  color: green;
  margin-top: 20px;
  font-weight: bold;
}
