{% extends "admin/base.html" %}
{% load i18n static notification_tags %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'openwisp_notifications/css/notifications.css' %}" />
{% endblock extrastyle %}

{% block userlinks %}
    <a href="{% url 'admin:openwisp_notifications_notification_changelist' %}" class="ow-notifications"
       id="openwisp_notifications">
      <img class="bell-icon"
           src="{% static "openwisp_notifications/images/bell.svg" %}" />
      {% unread_notifications %}
    </a>
{% endblock %}
