.hide {
  display: none;
}
.disabled {
  color: grey !important;
  pointer-events: none;
}
.round-bottom-border {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Notification widget dropdown */
.notification-dropdown {
  position: absolute;
  z-index: 99;
  right: 100px;
  border: 2px solid #464646;
  text-align: left;
  width: 425px;
  text-transform: none;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px black;
}
.notification-dropdown .btn {
  color: #df5d43;
  cursor: pointer;
}
.notification-dropdown .filters {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.notification-wrapper {
  overflow-y: auto;
  max-height: 350px;
  height: 100%;
}
.notification-elem {
  cursor: pointer;
  padding: 10px 18px;
  transition: 0.4s;
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
}
.notification-elem.unread{
  background: #464646;
  color: white;
}
.notification-elem p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notification-elem a {
  color: #df5d43 !important;
}
.notification-elem:hover a,
.active a {
  color: white !important;
}
.notification-elem:hover,
.active {
  background-color: #df5d43 !important;
}
.no-notifications {
  color: #464646;
  text-align: center;
  font-weight: bold;
  font-size: small;
  padding: 8px;
  background-color: whitesmoke;
}

/* Loader */
.loader-wrapper {
  box-shadow: 0px 0px 5px 1px black;
  position: absolute;
  top: 0px;
  background: whitesmoke;
  z-index: -1;
  width: 100%;
  border-radius: 5px;
}
.loader {
  height: 4em;
  width: 4em;
  margin: 40px auto 4px auto;
}

@media screen and (max-width: 425px) {
  .notification-dropdown {
    width: 100%;
    right: 0px;
  }
}
